# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
omni-server
omni-agent
/client-linux/omni-agent
/client-windows/omni-agent.exe
/server/omni-server

# Test and coverage
*.out
*.test

# Logs and local IDs
*.log
.omni-device-id
/var/lib/omni-agent

# Environment and local configs
.env
config.env

# OS and Editor files
.DS_Store
.vscode/
.idea/
